<div class="container">
<div class="row">
<div class="col-md-4 form-group">
    <input type="text" class="form-control"  [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search hotels">    
</div>
<br>
<div class="col-sm-4">
    <label>Sort by &nbsp;</label>
    <select [(ngModel)]='SortbyParam'>
        <option value="rating">Rating</option>
        <option value="location">City</option>
    </select>
<button type="button" (click)="onSortDirection()">
    <i *ngIf="sortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
    <i *ngIf="sortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
</button>
</div>
</div>
</div>

    <div class="card-img-wrapper">
        <div class="row">
            <div class="col-sm-4" *ngFor="let hotel of hotelList | filter:searchKey:'hotel_name'|sort:[SortbyParam,sortDirection]">
                <div class="card m-4">
                    <div class="card-body shadow-lg">
                        <img class="img-responsive card-img-top" src="{{hotel.image}}"><hr>
                        <h5 class="card-title">{{hotel.hotel_name}}</h5>
                        <p class="card-text">{{hotel.location}}</p>
                        <p class="card-text" ><i class="far fa-star"></i> {{hotel.rating}}</p>
                        <a [routerLink]="['/room/', hotel.hotel_Id]" class="btn btn-primary">Select Room</a>
                    </div>
                </div>
         </div> 
</div>
</div>